body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

h1 {
  font-size: 2em;
}

form input,
form textarea {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

button {
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
}

.entry {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.add {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  text-decoration: none;
}

.view {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  text-decoration: none;
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}